<div class="active-history">
	<ul>
		<li><a ui-sref="home">Active Tasks</a></li>
	</ul>
</div>

<div class="row">COMPLETED TASKS</div> <!-- extra row -->

<div> <!-- task list and ui-view -->
	<ul class="taskList" >
		<li class="taskItem" ng-repeat="task in tasks" ng-show="task.status === true">

		<!-- edit a task-->
		<input ng-model="task.text" ng-change="tasks.$save(task)" />

		<!-- mark task complete; completed task == true; default == false -->
		<input type="checkbox" ng-model="task.status" ng-change="tasks.$save(task)" class="taskComplete">Make Active</input>

		<!-- delete a task -->
		<button ng-click="tasks.$remove(task)">Delete Task</button>

		</li>
	</ul>
</div><!--task list-->
