.main-title {
  text-align: center;
}

html {
  font-size: 100%;
}

body {
  background: #ECF0F1;
  font-family: 'Open Sans', sans-serif;
}

/*grid structure*/
.container {
  width: 500px;
  margin: 100px auto;
  background: #ffffff;
  padding: 20px 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  
}

.row {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    clear: both;
    overflow: hidden;
}

.content {
    background: #fff;
}

h1 {
  font-family: 'Rokkitt';
  color: #666;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.tagline {
  margin-top: -10px;
  text-align: center;
  padding: 8px 20px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #777;
}

.active-history {

  text-align: right;
  font-size: 8px;

  ul {
  list-style-type: none;

    li {
      display: inline;
      text-decoration: underline;
    }
  }
}

/*to do inputs*/
.inputContainer {
  height: 60px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden;
}

.row {
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
    clear: both;
    overflow: hidden;
}

input[type="text"]  {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    top: 0;
    vertical-align: middle;
    display: inline-block;
    border: none;
    border-radius: none;
    font-size: 13px;
    color: #777;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.5x;
    transition: background 0.3s;
}

input[type="text"]:focus  {
    cursor: pointer;
    outline: none;
    background: #ecf0f1;
}

label {
    padding: 5px 20px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    display: block;
    position: absolute;
}

/*to do tasks*/
.taskList {
  list-style: none;
  padding: 0 20px;
}

.taskItem {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.taskList .taskItem:nth-child(even) {
    background: #fcfcfc;
}