

<section id="home-container"> 
  <h1 class="main-title">BlocItOff</h1>
</section>

            <div ng-controller="SampleCtrl">
                <!-- anything typed in here is magically saved to Firebase! -->
                <input type="text" ng-model="data.text"/>
                <!-- all changes from Firebase magically appear here! -->
                <h1>You said: {{ data.text }} </h1>
                <pre>{{dataItems}}</pre>
                <ul>
                    <li ng-repeat="item in dataItems">{{item.$value}}</li>
                </ul>
            </div>

  <!-- task list  -->
    <div class="container">
      <div class="content">
        <h1>Current Tasks</h1>
        <p class="tagline">self destructing todo app</p>
        <div class="active-history">
          <ul>
            <li>Active Tasks</li>
            <li>Task History</li>
          </ul>
        </div>
        <!-- Add new to do -->
        <form ng-submit="addTask()">
            <div class="inputContainer">
                <input  type="text" 
                        id="description" 
                        class="taskName" 
                        placeholder="Enter your to do" 
                        ng-model="newTaskText" />
                <label for="description">Enter tasks here</label>
            </div>
        </form>
        <div class="row">
        </div>
        <div toggle-check>
          <ul class="taskList" > 
                <li class="taskItem" ng-repeat="task in tasks" ng-hide="taskChecked === true">
<!--               how to test task and tasks
                <pre>{{task}}</pre>
                <pre>{{tasks}}</pre>  -->

                <!-- edit a task-->
                <input ng-model="task.text" ng-change="tasks.$save(task)" />
                <!-- mark task complete; completed task == true; default == false -->
                <input type="checkbox" ng-model="taskChecked" class="taskComplete" ng-click="complete()">Complete Task</input>
                <!-- <tt>debug = {{taskComplete.value}}</tt> -->
                <!-- delete a task -->
                <button ng-click="tasks.$remove(task)">Delete Task</button>
                </li>
          </ul> 

        </div><!--task list-->
      </div> <!--content-->
    </div> <!--container-->
